body{
    box-sizing: border-box;
    background-color: black;
    color: white;
    display: flex;
    font-family: monospace;
    height: 100%;
    width: 90%;
}

.page{
    height: inherit;
    width: 100%;
    position: fixed;
}

#time{
    text-align: center;
    font-size: 80px;
    bottom: 44%;
    right: 25.6%;
    position: fixed;
    margin: 0;
}