body{
    box-sizing: border-box;
    background-color: black;
    color: white;
    display: flex;
    font-family: monospace;
    height: 100%;
    width: 90%;
}

.page{
    height: inherit;
    width: 80%;
    position: fixed;
    display: flex;
}

#time{
    text-align: center;
    font-size: 80px;
    top: 30%;
    left: 35%;
    position: fixed;
}