body{
    align-items: center;
    justify-content: center;
    display: flex;
}
#btn{
    top: 50%;
    position: absolute;
    background-color: rebeccapurple;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
}